.sign-in-form {
  border: solid 2px;
  background-color: rgb(245, 245, 245);
  max-width: 600px;
}
.sign-in-form .row {
  text-align: left;
}
.sign-in-form .submit-btn {
  background-color: rgb(245, 245, 245);
  color: #1c2237;
}
.sign-in-form {
  width: 80%;
  margin: auto;
  margin: 20px;
  padding: 20px;
}