div#recent-submission-sidebar table {
  overflow-y: scroll;
}
div#recent-submission-sidebar table td {
  font-weight: 100;
}
div#recent-submission-sidebar table th, div#recent-submission-sidebar table td {
  width: auto;
  font-size: 14px;
  vertical-align: middle;
  word-break: keep-all;
}
div#recent-submission-sidebar table th.responsive-date div.date, div#recent-submission-sidebar table td.responsive-date div.date {
  font-size: 10px;
  word-break: keep-all;
}
div#recent-submission-sidebar table th.responsive-date div.time, div#recent-submission-sidebar table td.responsive-date div.time {
  font-size: 12px;
  word-break: keep-all;
}
div#recent-submission-sidebar table th.responsive-date, div#recent-submission-sidebar table td.responsive-date {
  width: fit-content;
}
div#recent-submission-sidebar table {
  overflow: hidden !important;
  margin: 0;
  padding: 0;
}
div#recent-submission-sidebar td.info {
  padding: 0 0.3rem;
  width: fit-content;
}
div#recent-submission-sidebar td.info .prob-wrapper {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
}
div#recent-submission-sidebar td.info .prob-wrapper .prob {
  font-weight: bold;
  font-size: 14px;
  max-width: fit-content;
}
div#recent-submission-sidebar td.info .prob-wrapper a#sub-id {
  color: black;
  font-size: 14px;
  font-weight: bold;
  max-width: max-content;
}
div#recent-submission-sidebar td.info .other-wrapper {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 12px;
}
div#recent-submission-sidebar td.info .other-wrapper div.sub-wrapper {
  display: inline-flex;
  flex-direction: row;
  column-gap: 5px;
  max-width: max-content;
  padding: 5px;
}
div#recent-submission-sidebar td.info .other-wrapper div.lang-wrapper {
  font-size: 10px;
}
div#recent-submission-sidebar td.info .other-wrapper div.text-wrapper {
  width: fit-content;
}
div#recent-submission-sidebar td.info .other-wrapper div.points-wrapper {
  max-width: 50px;
  min-width: 20px;
}
div#recent-submission-sidebar td.info .other-wrapper .verdict {
  font-weight: 600;
  font-family: "verdana", "arial", "sans-serif";
  cursor: help;
}
div#recent-submission-sidebar td.info .other-wrapper .verdict.ac {
  color: green !important;
}
div#recent-submission-sidebar td.info .other-wrapper .verdict.wa, div#recent-submission-sidebar td.info .other-wrapper .verdict.tle, div#recent-submission-sidebar td.info .other-wrapper .verdict.mle, div#recent-submission-sidebar td.info .other-wrapper .verdict.ole {
  color: rgba(255, 0, 0, 0.856) !important;
}
div#recent-submission-sidebar td.info .other-wrapper .verdict.ir, div#recent-submission-sidebar td.info .other-wrapper .verdict.rte {
  color: orange !important;
}
div#recent-submission-sidebar td.info .other-wrapper .verdict.qu, div#recent-submission-sidebar td.info .other-wrapper .verdict.g, div#recent-submission-sidebar td.info .other-wrapper .verdict.p, div#recent-submission-sidebar td.info .other-wrapper .verdict.sc {
  color: darkgray !important;
}
div#recent-submission-sidebar td.info .other-wrapper .verdict.ie, div#recent-submission-sidebar td.info .other-wrapper .verdict.ce {
  color: black !important;
}
div#recent-submission-sidebar td.info .other-wrapper .verdict.fr {
  color: darkblue !important;
  background-color: rgba(190, 239, 245, 0.8);
}
div#recent-submission-sidebar td.info .other-wrapper .verdict span.points {
  margin-left: 2px;
}
@media (min-width: 768px) {
  div#recent-submission-sidebar td.info .other-wrapper .verdict .verdict-wrapper span.text {
    display: none;
  }
  div#recent-submission-sidebar td.info .other-wrapper .verdict .verdict-wrapper.ac::after {
    content: "Accepted";
  }
  div#recent-submission-sidebar td.info .other-wrapper .verdict .verdict-wrapper.wa::after {
    content: "Wrong Answer";
  }
  div#recent-submission-sidebar td.info .other-wrapper .verdict .verdict-wrapper.tle::after {
    content: "Time Limit Exceeded";
  }
  div#recent-submission-sidebar td.info .other-wrapper .verdict .verdict-wrapper.mle::after {
    content: "Memory Limit Exceeded";
  }
  div#recent-submission-sidebar td.info .other-wrapper .verdict .verdict-wrapper.ole::after {
    content: "Output Limit Exceeded";
  }
  div#recent-submission-sidebar td.info .other-wrapper .verdict .verdict-wrapper.ir::after {
    content: "Invalid Return";
  }
  div#recent-submission-sidebar td.info .other-wrapper .verdict .verdict-wrapper.rte::after {
    content: "Runtime Error";
  }
  div#recent-submission-sidebar td.info .other-wrapper .verdict .verdict-wrapper.qu::after {
    content: "Waiting..";
  }
  div#recent-submission-sidebar td.info .other-wrapper .verdict .verdict-wrapper.p::after {
    content: "Processing..";
  }
  div#recent-submission-sidebar td.info .other-wrapper .verdict .verdict-wrapper.g::after {
    content: "Judging..";
  }
  div#recent-submission-sidebar td.info .other-wrapper .verdict .verdict-wrapper.sc::after {
    content: "Skipped";
  }
  div#recent-submission-sidebar td.info .other-wrapper .verdict .verdict-wrapper.ie::after {
    content: "Internal Error";
  }
  div#recent-submission-sidebar td.info .other-wrapper .verdict .verdict-wrapper.ce::after {
    content: "Compile Error";
  }
  div#recent-submission-sidebar td.info .other-wrapper .verdict .verdict-wrapper.fr::after {
    content: "Frozen";
  }
}
div#recent-submission-sidebar td.result {
  margin: 0;
  padding: 0;
}