div.rich-text-editor {
  width: 100%;
}
div.rich-text-editor * {
  width: unset;
}
div.rich-text-editor div.w-md-editor div.w-md-editor-toolbar {
  display: flex;
  flex-direction: row;
  padding-left: 0px;
  padding-right: 3px;
  min-width: 410px;
}
div.rich-text-editor div.w-md-editor div.w-md-editor-toolbar ul {
  display: inline-flex;
  column-gap: 2px;
  margin: unset;
}
div.rich-text-editor div.w-md-editor div.w-md-editor-toolbar ul:first-child {
  justify-content: flex-start;
}
div.rich-text-editor div.w-md-editor div.w-md-editor-toolbar ul:last-child {
  justify-content: flex-end;
}
div.rich-text-editor div.w-md-editor div.w-md-editor-toolbar ul li {
  height: 20px;
  width: 20px;
  padding: unset;
}
div.rich-text-editor div.w-md-editor div.w-md-editor-toolbar ul li:empty {
  height: 0;
  width: 0;
}
div.rich-text-editor div.w-md-editor div.w-md-editor-toolbar ul li button {
  margin: unset;
  padding: unset;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
div.rich-text-editor div.w-md-editor div.w-md-editor-toolbar ul li button svg {
  width: 100%;
}
div.rich-text-editor div.w-md-editor div.w-md-editor-content {
  display: flex;
}
div.rich-text-editor div.w-md-editor div.w-md-editor-content .w-md-editor-input {
  width: unset;
}
div.rich-text-editor div.w-md-editor div.w-md-editor-content .w-md-editor-aree {
  border-radius: 5px;
  overflow: auto;
}
div.rich-text-editor div.w-md-editor div.w-md-editor-content .w-md-editor-preview {
  width: unset;
  border-radius: 0 0 5px 0;
  bottom: 0;
  box-shadow: inset 1px 0 0 0 var(--color-border-default);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 10px 20px;
  position: absolute;
  right: 0;
  top: 0;
}
div.rich-text-editor div.w-md-editor div.w-md-editor-content div {
  display: block;
}
div.rich-text-editor div.w-md-editor div.w-md-editor-content textarea.w-md-editor-text-input {
  width: 100%;
}
div.rich-text-editor div.w-md-editor div.w-md-editor-bar {
  background-color: rgb(245, 245, 245);
  border-radius: 0 0 3px 0;
  cursor: s-resize;
  height: 10px;
  margin-right: 0;
  margin-top: -11px;
  position: absolute;
  right: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 14px;
  z-index: 3;
}
div.rich-text-editor div.w-md-editor-show-edit div.w-md-editor-content .w-md-editor-input {
  width: 100%;
}
div.rich-text-editor div.w-md-editor-show-edit div.w-md-editor-content .w-md-editor-preview {
  width: 0;
}
div.rich-text-editor div.w-md-editor-show-live div.w-md-editor-content .w-md-editor-input {
  width: 50%;
}
div.rich-text-editor div.w-md-editor-show-live div.w-md-editor-content .w-md-editor-preview {
  width: 50%;
}
div.rich-text-editor div.w-md-editor-show-preview div.w-md-editor-content .w-md-editor-input {
  width: 0;
}
div.rich-text-editor div.w-md-editor-show-preview div.w-md-editor-content .w-md-editor-preview {
  width: 100%;
}
div.rich-text-editor div.wmde-markdown-color * {
  width: unset;
  color: unset;
  overflow: unset;
}
div.rich-text-editor div.wmde-markdown-color code span.katex {
  font-size: 16px;
  display: inline;
}
div.rich-text-editor div.wmde-markdown-color code span {
  width: unset;
}
div.rich-text-editor div.wmde-markdown-color code.code-highlight, div.rich-text-editor div.wmde-markdown-color code.undefined {
  padding: 0 10px;
  background-color: var(--color-neutral-muted);
}
div.rich-text-editor div.wmde-markdown-color span {
  text-align: left;
}
div.rich-text-editor div.wmde-markdown-color span.token {
  display: inline;
}
div.rich-text-editor textarea {
  white-space: pre-wrap;
  word-break: break-word;
}